parameters:

    paths:
        - src

    # The level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#on an unknown class Config\.#'
        - '#on an unknown class Date\.#'
        - '#on an unknown class Livewire\.#'
        - '#map\(\) contains unresolvable type#'
        - '#Instanceof between Illuminate\\Routing\\Route and Illuminate\\Routing\\Route will always evaluate to true#'
        - '#Binary operation \"\*\" between non-empty-array\|non-falsy-string and \d+ results in an error#'

    excludePaths:

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportAlwaysTrueInLastCondition: true
    reportWrongPhpDocTypeInVarTag: true
    checkMissingCallableSignature: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAnyTypeWideningInVarTag: true
